html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: #242a2f;
}

.main {
  padding: 3rem 0;
}

.wrapper {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 3rem 0 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: #c8d7e2;
}

.header {
  margin-top: 5rem;
}

.header,
footer {
  padding: 0 2rem;
}


.h1 {
  color: #f8f0ee;
}





img {
  width: 10%;
}
